.header {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-logo {
    flex-shrink: 0;
}

.logo-link {
    display: block;
    height: 40px;
    width: auto;
}

.header-menu {
    margin-left: auto;
    padding: 10px;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-link {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}